# Python
*.pyc
__pycache__/
venv/
*.pyo
*.pyd

# IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
.eclipse/
.pydevproject
.pycharm/
*.bak
*.swp
*~.nib/
*.swp
*~
*.log
*.tmp
*.tmp.*
*.bak
*.cache
*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache/
.recommenders/

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
._*
.Spotlight
.Trashes
*.stackdump

# Build/Compiled
build/
dist/
*.exe
*.dll
*.so
*.pyd
*.pyc
*.pyo
*.pyz
*.pyw
*.pyz
*.pyw
*.spec
*.egg-info/
*.egg
*.ipynb
*.whl